<html lang="en">
<head>

    <meta charset="UTF-8">

    <link rel="apple-touch-icon" type="image/png"
          href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png">
    <meta name="apple-mobile-web-app-title" content="CodePen">

    <link rel="shortcut icon" type="image/x-icon"
          href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">

    <link rel="mask-icon" type="image/x-icon"
          href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg"
          color="#111">


    <title>CodePen - Bootstrap Table - Filter control</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css">
    <link rel="stylesheet"
          href="https://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">

    <style>
        .container {
            width: 1024px;
            padding: 2em;
        }

        .bold-blue {
            font-weight: bold;
            color: #0277BD;
        }
    </style>

    <script>
        window.console = window.console || function (t) {
        };
    </script>


    <script>
        if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
</head>

<body translate="no">
<div class="container">


    <div class="bootstrap-table">

        <div class="fixed-table-container" style="padding-bottom: 0px;">
            <div class="fixed-table-header" style="display: none;">
                <table></table>
            </div>
            <div class="fixed-table-body">
                <div class="fixed-table-loading" style="top: 42px;">Loading, please wait...</div>

                <table id="table" data-toggle="table"
                       data-search="true"
                       data-filter-control="true"
                       data-show-export="true"
                       data-click-to-select="true"
                       data-toolbar="#toolbar"
                       class="table table-hover">
                    <thead>

                    <tr>
                        <th style="" data-field="displayName" data-filter-control="input" data-sortable="true">
                            <div class="th-inner ">Nom</div>
                            <div class="fht-cell"></div>
                        </th>

                        <th style="" data-field="displayGn" data-sortable="true">
                            <div class="th-inner ">Prenom</div>
                            <div class="fht-cell"></div>
                        </th>                        <th style="" data-field="displayGn" data-sortable="true">
                            <div class="th-inner ">Prenom</div>
                            <div class="fht-cell"></div>
                        </th>                        <th style="" data-field="displayGn" data-sortable="true">
                            <div class="th-inner ">Prenom</div>
                            <div class="fht-cell"></div>
                        </th>                        <th style="" data-field="displayGn" data-sortable="true">
                            <div class="th-inner ">Prenom</div>
                            <div class="fht-cell"></div>
                        </th>

                    </tr>

                    </thead>

                </table>

                <script>
                    var $table = $('#table')

                    $(function () {


                        var data = [
                            {{ data|raw }}

                        ]
                        $table.bootstrapTable({data: data})


                    })

                </script>
            </div>
            <div class="fixed-table-footer" style="display: none;">
                <table>
                    <tbody>
                    <tr></tr>
                    </tbody>
                </table>
            </div>
            <div class="fixed-table-pagination" style="display: none;"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-1b93190375e9ccc259df3a57c1abc0e64599724ae30d7ea4c6877eb615f89387.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/export/bootstrap-table-export.js"></script>
<script src="https://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter-control/bootstrap-table-filter-control.js"></script>
<script id="rendered-js">
    //exporte les données sélectionnées
    var $table = $('#table');
    $(function () {
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('refreshOptions', {
                exportDataType: $(this).val()
            });

        });
    });

    var trBoldBlue = $("table");

    $(trBoldBlue).on("click", "tr", function () {
        $(this).toggleClass("bold-blue");
    });
    //# sourceURL=pen.js
</script>


</body>
</html>