
/*logo*/

.navbar-brand small {
    text-transform: uppercase;
    font-size: 11px;
    display: block;
    text-align: center;
    color: #0e0e0e;
    letter-spacing: 4px;
}

.navbar-brand {
    height: 50px;
    padding: 15px 15px;
    font-size: 30px;
    line-height: 20px;
    font-family: "Josefin Sans", Arial, sans-serif;
}



/* image extension */
img.ext {
    width: 35px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
}

.row.d-flex.justify-content-center {
    padding: 10px;
}